<app-header-user></app-header-user>

        <div class="container">
             
            </div>
            <div class="containerBtns">
                <button routerLink="/home" class="addbook social-btn">Volver</button>
                <input type="submit" value="Editar" class="addbook social-btn">
            </div>
        
        <div *ngIf="books"
        class="row-left"
         id="containerBookInfo" >
         <img src="https://i.imgur.com/IUNXZV1.jpeg">
        <div class="container">
         <div class="row">
             <h3>Título</h3>
        <p> {{bookTitle}} </p>
        </div>
        
            </div>
        </div>
       