.social-btn {
    border: 0;
    padding: .6rem 2rem;
    width: 20%;
    height: 50px;
    font-size: var(--font-size-1);
    border-radius: var(--border-radius-2);
    box-shadow: var(--shadow-1);
    border: solid 1px var(--color-4);
    background-color: yellow;
    font-weight: 400;
}