*{
    margin:0;
    padding:0;
    list-style: none;
}

@media(max-width: 575px){

    .container-fluid {
        position: absolute;
        width: 100vw;
        height: 100vw;
        background-color: var(--color-3);
        color: var(--color-2);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .container-fluid  .login-auth-form {
        display: flex;
        height:80vw ;
        width: 80vw;   
        justify-content: flex-start;
        flex-direction: column;
    }
    .container-fluid .login-auth-form .form-steps {
        padding: .5rem 0;  
    }
    .containerInputs,.containerButtons{
        border: 1px;
        border-style: solid;
        border-color: #e7e7e7 ;
        padding: 25px;
        border-radius: 10px 10px 0px 0px;
    }
    .containerButtons{ 
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 0px;
        border-radius: 0px 0px 10px 10px;
    }
    .containerOnlyInputs{
        padding-top: 20px;  
    }
    
}
@media(min-width:576px) and(max-width:767px){

    .container-fluid {
        position: absolute;
        width: 100vw;
        height: 100vw;
        background-color: var(--color-3);
        color: var(--color-2);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .container-fluid  .login-auth-form {
        display: flex;
        width: 60vw;
        height: auto;
        justify-content: flex-start;
        flex-direction: column;
    }
    .container-fluid .login-auth-form .form-steps {
        padding: .5rem 0;  
    }
    .containerInputs,.containerButtons{
        border: 1px;
        border-style: solid;
        border-color: #e7e7e7 ;
        padding: 25px;
        border-radius: 10px 10px 0px 0px;
    }
    .containerButtons{ 
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 0px;
        border-radius: 0px 0px 10px 10px;
    }
    .containerOnlyInputs{
        padding-top: 20px;  
    }
    
}
@media(min-width:768px) and(max-width:991px){
    .container-fluid {
        position: absolute;
        width: 100vw;
        height: 100vw;
        background-color: var(--color-3);
        color: var(--color-2);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .container-fluid  .login-auth-form {
        display: flex;
        width: 50vw;
        height: auto;
        justify-content: flex-start;
        flex-direction: column;
    }
    .container-fluid .login-auth-form .form-steps {
        padding: .5rem 0;  
    }
    .containerInputs,.containerButtons{
        border: 1px;
        border-style: solid;
        border-color: #e7e7e7 ;
        padding: 25px;
        border-radius: 10px 10px 0px 0px;
    }
    .containerButtons{ 
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 0px;
        border-radius: 0px 0px 10px 10px;
    }
    .containerOnlyInputs{
        padding-top: 20px;  
    }
    
}
@media(min-width:992px) {
    .container-fluid {
        position: absolute;
        width: 100vw;
        height: 100vw;
        background-color: var(--color-3);
        color: var(--color-2);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .container-fluid  .login-auth-form {
        display: flex;
        width: 40vw;
        height: auto;
        justify-content: flex-start;
        flex-direction: column;
    }
    .container-fluid .login-auth-form .form-steps {
        padding: .5rem 0;  
    }
    .containerInputs,.containerButtons{
        border: 1px;
        border-style: solid;
        border-color: #e7e7e7 ;
        padding: 25px;
        border-radius: 10px 10px 0px 0px;
    }
    .containerButtons{ 
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 0px;
        border-radius: 0px 0px 10px 10px;
    }
    .containerOnlyInputs{
        padding-top: 20px;  
    }
    
}