<div class="container-fluid">
   
    
        <form  [formGroup]="formLogin" class="login-auth-form">
            <!-- <form  [formGroup]="formLogin" class="login-auth-form"> -->
          <div class="containerInputs">

            <pichincha-typography variant="h3" weight="bold" color="black">Iniciar Sesión</pichincha-typography><br>
            <hr>

            <div class="containerOnlyInputs">

            <div class="form-group">
                <pichincha-input appInputAcessor formControlName = "username" 
                label="Usuario"   [fullWidth]= "true" placeholder="Ej.Madelen" 
                [showIconStatus]="true"
                [errorHelper]="'Usuario es requerido'">
                </pichincha-input> 
            </div>

            <!-- <div *ngIf=" userName.touched && userName.errors">
                <small *ngIf="userName.hasError('required')" 
                class="alertDanger">
                    Usuario es requerido
                </small>
            </div> -->

            <div class="form-group">
                <pichincha-input appInputAcessor formControlName="password"
                label="Contraseña" type="password"   [fullWidth]= "true" placeholder="***"
                [showIconStatus]="true"
                [minLength]= "8"
                [errorHelper]="'Contraseña es requerida'"
                >
                </pichincha-input>
               
            </div>
            <!-- <div *ngIf=" password.touched && password.errors">
                <small *ngIf="password.hasError('required')" 
                class="alertDanger">
                    Contraseña es requerida</small>
                <small *ngIf="password.hasError('password')" 
                class="alertDanger">
                    Ingrese una contraseña válida</small>
                 <small *ngIf="password.hasError('minlength')  " 
                class="alertDanger">
                    La contraseña debe contener más de 8 caracteres</small>
            </div> -->
        </div>
    </div>
        <div class="containerButtons">
            <div class="form-steps">
                <a class="link" routerLink="/register" href="">Registrate aquí</a>
            </div>
           
            <div class="form-action">
                
                <pichincha-button (click)= "sendLogin(formLogin.value)" size="large" 
                id="idButton" color="primary" [disabled]="formLogin.invalid">
                    Iniciar Sesión
                </pichincha-button>

                
            </div>
        </div>
            <!-- <p *ngIf="messageError" id="alertmessage" class="alertDanger"> Error de logueo {{ messageError }} </p> -->
        </form>
    </div>
    
    <div>
  
    </div>
    






    <!-- //TODO: DS BANCO PICHINCHA -->
    <!-- <pichincha-input full-width=true placeholder="Hola"></pichincha-input> -->
    <!-- <pichincha-button (click)= "sendLogin(formLogin.value)" size="large" id="idButton" color="primary">
        Iniciar Sesión
      </pichincha-button> -->
      