<div class="container">
    <div class="row">
      <h1>Tus Libros</h1>
      <button  size="medium" id="register" color="secondary">
        Agregar Libro
      </button>
    </div>
    <div class="row">
      <!-- <input (ikeyup)="onSearch($any($event))" class="input" placeholder="Búsqueda, Ej: React, Angular" id-element="search" [fullWidth]="true">
<select class="input"> -->
<!-- <option>...Seleccione</option>
</select> -->
      <!-- <select class="input" id-element="select-category" placeholder="Selecciona una categoría"
        [items]="categories" (clickedItem)="handleSelectedItem($any($event))"></select> -->
    </div>
    <!-- <div class="book-section">
      <ul *ngFor="let book of books" >
        <li> <img [imgUrl]="books.image" ></li>
    </div> -->
  </div>
