/* You can add global styles to this file, and also import other style files */
:root{
    --color-1:#323232;
    --color-2:#000000;
    --color-3:#FFFFFF;
    --color-4:#f3e8ea;
    --color-5:#35b6ff;
    --font-size-1: 1rem;
    --font-size-2: 1.2rem;
    --font-size-3: 1.8rem;
    --shadow-1:rgb(0 0 0 / 35%) 0px 8px 24px;
    --shadow-2:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --border-radius-1: .25rem;
    --border-radius-2: .5rem;
    --font-family-1:'Helvetica';
    --animation-1: 200ms;
}    
html, body {
    margin:0;
    padding:0;
    background-color: var(--color-3);
    font-family: var(--font-family-1);
    font-size: var(--font-size-1);
    color: var(--color-2);
}

button:disabled {
    opacity: .5;
}

// $screen-sm-min: 600px;
// $screen-md-min: 960px;
// $screen-lg-min: 1280px;
// $screen-xl-min: 1920px;

// $screen-xs-max: 599px;
// $screen-sm-max: 959px;
// $screen-md-max: 1279px;
// $screen-lg-max: 1919px;
// $screen-xl-max: 5000px;

// media devices
// @mixin xs {
//   @media screen and (max-width: #{$screen-xs-max}) {
//     @content;
//   }
// }

// @mixin sm {
//   @media screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}) {
//     @content;
//   }
// }

// @mixin md {
//   @media screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}) {
//     @content;
//   }
// }

// @mixin lg {
//   @media screen and (min-width: #{$screen-lg-min}) and (max-width: #{$screen-lg-max}) {
//     @content;
//   }
// }

// @mixin xl {
//   @media screen and (min-width: #{$screen-xl-min}) and (max-width: #{$screen-xl-max}) {
//     @content;
//   }
// }

// // media lt queries
// @mixin lt-sm {
//   @media screen and (max-width: #{$screen-xs-max}) {
//     @content;
//   }
// }

// @mixin lt-md {
//   @media screen and (max-width: #{$screen-sm-max}) {
//     @content;
//   }
// }

// @mixin lt-lg {
//   @media screen and (max-width: #{$screen-md-max}) {
//     @content;
//   }
// }

// @mixin lt-xl {
//   @media screen and (max-width: #{$screen-lg-max}) {
//     @content;
//   }
// }

// // media gt queries
// @mixin gt-xs {
//   @media screen and (min-width: #{$screen-sm-min}) {
//     @content;
//   }
// }

// @mixin gt-sm {
//   @media screen and (min-width: #{$screen-md-min}) {
//     @content;
//   }
// }

// @mixin gt-md {
//   @media screen and (min-width: #{$screen-lg-min}) {
//     @content;
//   }
// }

// @mixin gt-lg {
//   @media screen and (min-width: #{$screen-xl-min}) {
//     @content;
//   }
// }