<app-header-user></app-header-user>
<section>
    <div class="addbook-auth-page">    
        <form  [formGroup]="formBooks" (submit)="addBook()" class="addbook-auth-form">
          <div class="containerInputs">
            <h1>Registrarse</h1><hr>

        <div class="containerOnlyInputs">
            <div class="form-group">
            <label for="title"> Nombre del Libro </label>

        <input type="text" formControlName="title" class="form-input" placeholder="Ej. Angular + NGRX">
            </div>
             <div *ngIf="title.touched && title.errors">
                <small class="alertDanger" *ngIf="title.hasError('required')">Nombre de libro requerido</small>    
            </div> 

        <div class="form-group">  
            <label for="url"> URL del Libro</label>
            <input type="text" formControlName="url" class="form-input" placeholder="Ej. https://books-all.com/sabhjxm2k">
        </div>
           <div *ngIf="url.touched && url.errors">
                <small class="alertDanger" *ngIf="url.hasError('required')">Url de libro requerido</small>
            </div>

        <div class="form-group">   
            <label for="resume"> Resumen del Libro </label>
            <input type="text" formControlName="resume" class="form-input" placeholder="Ej.....">
        </div> 
           <div *ngIf="resume.touched && resume.errors">
                <small class="alertDanger" *ngIf="resume.hasError('required')">Resumen requerida</small>
            </div>

        <div class="form-group">
            <label for="author"> Nombre del Autor </label>
            <input type="text" formControlName="author" class="form-input" placeholder="Ej. Kevin Suarez">
        </div> 
             <div *ngIf="author.touched && author.errors">
                <small class="alertDanger" *ngIf="author.hasError('required')">Autor Requerido</small>
            </div>

            <label>Imagen de portada</label>
            <input formControlName="image" type="text" placeholder="Ej. https://books-all.com/safj/img">
            <div *ngIf="image.touched && image.errors">
            <small class="alertDanger" *ngIf="image.hasError('required')"> Este campo es requerido</small>
        </div>

         <label class="checkboxLabel">Publicar</label>
         <input class="checkbox" formControlName="public" type="checkbox">
         <div  *ngIf="public.touched && public.errors" >
         <small class="alertDanger" *ngIf="public.hasError('required')">Este campo es requerido</small> 
         </div>
            
         
                <div class="categorieSection">
                    <label>Seleccione una categoría</label>
                    <select class="end">
                        <option selected> Seleccione...</option>
                        <option [innerHTML]="categorie.description"
                                [value]="categorie.id"
                                *ngFor="let categorie of (categories$ | async | slice: 0: 5 )"
                        ></option>
                      </select>
                     
            </div>
        </div>
    </div>
             <div class="containerBtns">
                <button routerLink="/home" class="addbook social-btn">Cancelar</button>
                <input type="submit" value="Registrar" class="addbook social-btn">

            </div>
            
        </form>
    </div>
   
</section>
